<div class="app__menu appbg2">
    <AppMenuItem ItemClass="bell" ItemName="Activity" />
    <AppMenuItem ItemClass="chat" ItemName="Chat" />
    <AppMenuItem ItemClass="people" ItemName="Groups" />
    <AppMenuItem ItemClass="phone" ItemName="Calls" />
    <AppMenuItem ItemClass="file" ItemName="Files" />
    <AppMenuItem ItemClass="calendar" ItemName="Calendar" />
    <AppMenuItem ItemClass="question-mark" ItemName="Help" SpecialClass="app__menu__bottomitem" />
</div>