@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div class="app__header">
    <div class="app__header__left">
        <div class="app__header__left__menu">
            <span class="oi oi-menu"></span>
        </div>
        <div class="app__header__left__logo">
            Teams App
        </div>
    </div>
    <div class="app__header__searchBox">
        <span class="oi oi-magnifying-glass"></span>
        <input type="text" value="@searchText" placeholder="Search" />
    </div>
    <div class="app__header__userIcon" @onclick="()=> showOptions = !showOptions">
        <div class="app__header__userIcon__tap">TAP</div>
        <img height="28" width="28" style="object-fit:cover" src="@(User.Avatar)" alt="@User.Avatar" />
        <div class="app__header__userIcon__status" style="background-color:@User.Status.Color"></div>
    </div>
    @if (showOptions)
    {
        <OptionsList />
    }
</div>