@if (Display && User != null)
{
    <div class="app__header__userIcon__options">
    <img height="100px" width="100px" src="@User.Avatar" />
    <div>

    </div>
    <li>
        <ul>Setting</ul>
        <ul>Status</ul>
        <ul>Set Status Message</ul>
    </li>
        </div>
}